/* Hide input number arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Hide input options arrow */
input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

*::placeholder {
  color: black;
}

* {
  font-family: 'Arial';
}

.addProductContainer {
  width: 35rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding-block: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.addProductContainer h2 {
  color: var(--color-main);
}

.addProductContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.customInput {
  height: 2.2rem;
  outline: none;
  width: 18rem;
}

.descriptionInput {
  height: 5rem;
  max-height: 15rem;
  max-width: 25rem;
  min-width: 18rem;
}

.conditionSelectWrapper select {
  width: 100%;
  border: 0;
  appearance: none;
  outline: none;
}
