/* Hide input number arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Hide input options arrow */
input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.addProductContainer {
  padding-top: 5rem;
}

.addProductContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.customInput {
  height: 2.2rem;
  outline: none;
  width: 18rem;
}

.descriptionInput {
  height: 10rem;
  max-height: 20rem;
  max-width: 25rem;
  min-width: 18rem;
}
