.cont {
  padding-bottom: 1em;
  padding-top: 1em;
}

img {
  width: 100px;
  vertical-align: middle;
}
.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f9fa;
  margin: 1em;
  height: 110px;
}

.box .item {
  padding: 0 1.5em 0 1.5em;
}
.message {
  border: 1px solid #a1a1a1;
  background-color: white;
  padding: 1em;
  flex: 3;
}
