.cont {
  padding-bottom: 1em;
  padding-top: 1em;
}

img {
  width: 100px;
  vertical-align: middle;
}
.box {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  margin: 1em;
  height: 110px;
}

.box .item {
  padding: 0 1em 0 1em;
}
