.checkoutWrapper {
  display: flex;
  flex-direction: row;
  padding-inline: 4rem;
  justify-content: space-around;
}

.leftContainer {
}

.leftContainer > div {
  width: 45rem;
  height: 15rem;
  margin-block: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-main);
}

.rightContainer {
  padding-top: 10rem;
}

.rightContainer img {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  border: 1px solid var(--color-main);
}
