.container {
  display: flex;
  flex-flow: row wrap;
  margin: 2rem;
}
img {
  width: 100%;
  height: auto;
}

.card {
  width: 16rem;
  margin: 20px auto;
}
.card a,
.card a:hover {
  text-decoration: none;
  color: teal;
}
.title {
  min-height: 60px;
}
.card img {
  height: 300px;
}
