:root {
  --color-main: #39958b;
  --color-light: #ffffff;
}
.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  /* padding: 0.5rem calc((90vw - 1000px) / 2); */
  z-index: 10;
  align-items: center;
  margin-right: 24px;
  margin-left: 24px;
}
.logo {
  width: 100%;
}
.logo_container {
  width: 200px;
}
.nav_link {
  color: var(--color-main);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}
.nav_link:hover {
  color: var(--color-main);
  opacity: 0.8;
  text-decoration: none;
}
.nav_menu {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.nav_dropdown {
  color: var(--color-main);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}
.nav_dropdown:hover {
  color: var(--color-main);
  opacity: 0.8;
  text-decoration: none;
}
.dropdown_container {
  position: absolute;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid teal;
  background-color: var(--color-light);
  top: 60px;
  z-index: 5;
  width: 230px;
}
.item_container {
  height: auto;
  display: flex;
  flex-direction: column;
}
.nav_angel_down {
  margin-left: 10px;
  margin-top: 2px;
}
.nav_mobile {
  position: absolute;
  background: black;
  width: 0px;
  height: 100vh;
  z-index: 100;
  transition: ease-in 300ms;
  left: -30px;
}
.show {
  width: 100%;
}
.bars {
  display: none;
}
.nav_mobile_link {
  display: none;
}
.barsButton {
  color: var(--color-main);
  margin-right: 20px;
}
.timesButton_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.timesButton {
  color: var(--color-light);
  margin-top: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .nav_menu {
    display: none;
  }
  .bars {
    display: block;
  }
  .logo_container {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .nav_mobile {
    display: none;
  }
}
