/* .container {
  display: grid;
  grid-template-columns: 1.1fr 1fr 1fr;
  grid-template-rows: 0.8fr 0.9fr 0.8fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "filter filter filter"
    "category products products"
    "category products products"
    "category products products";
}

.header { grid-area: header; }

.filter { grid-area: filter; }

.category { grid-area: category; }

.products { grid-area: products; } */
